@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --font-Chakra: "Chakra Petch", sans-serif;
  --font-open-sans: "Open Sans", serif;
}

.bg1 {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  background-color: #21232f;
}